<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1 class="mb-4">Dashboard</h1>
    <% if current_user %>
  <%= click_link "Logout", logout_path, method: :delete%>
<% end %>

    <div class="card p-4 shadow" style="width: 400px;">
      <%= form_with url: "#", method: :get, local: true do |form| %>
        <div class="mb-3">
          <%= form.text_area :user_input, placeholder: "IP Address", rows: 1, class: "form-control" %>
        </div>
        <div class="text-center">
          <%= form.submit "Submit", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
    </div>
  </div>
</div>